body{
	/* text*/
	font-family: "Helvetica";
	font-size: 16px;
	font-weight: none;
	/* canvas */
	background-color: thistle;
	/* spacing*/
	margain: 3;
	padding: 10% 200px;
}


h2{
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: bold;
}

#myheader{
	*/background-color: rgb(186, 85, 211);
	*/padding: 40px;
	color: black;
	font-family: "Helvetica";
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

img{
	display: block;
	height: 300px;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: plum;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}